<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">S.No</th>
      <th scope="col">T-Shirts</th>
      <th scope="col">Click Below to add to the cart</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Ed Hardy Men's Cotton T-Shirt</td>
      <td><button  type="button" (click)="clickMeInc1()" class="btn btn-primary">add to cart</button></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Levis Mens Printed Regular Fit T-Shirt</td>
      <td><button type="button" (click)="clickMeInc1()" class="btn btn-primary">add to cart</button></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Calvin Klein Jeans Men's Solid Slim Fit T-Shirt</td>
      <td><button type="button" (click)="clickMeInc1()" class="btn btn-primary">add to cart</button></td>
    </tr>
	<tr>
      <th scope="row">4</th>
      <td>Wrangler Men's Solid Regular Fit T-Shirt</td>
      <td><button type="button" (click)="clickMeInc1()" class="btn btn-primary">add to cart</button></td>
    </tr>
<tr>
      <th scope="row">5</th>
      <td>Lee Men's Printed Slim Fit T-Shirt </td>
      <td><button type="button" (click)="clickMeInc1()" class="btn btn-primary">add to cart</button></td>
    </tr>
<tr>
      <th scope="row">6</th>
      <td>Flying Machine Men's Tapered Fit Jeans</td>
      <td><button type="button" (click)="clickMeInc1()" class="btn btn-primary">add to cart</button></td>
    </tr>
<tr>
      <th scope="row">7</th>
      <td>Jack & Jones Men's Erik Relaxed fit Jeans</td>
      <td><button type="button" (click)="clickMeInc1()" class="btn btn-primary">add to cart</button></td>
    </tr>
  </tbody>
</table>

<app-child  [name]="buy" (childEvent)="message($event)" ></app-child>
<h1>
  {{mess}}{{val}}
 <br>
 </h1>

</div>
</body>
</html>